body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}

.h80vh {
  height: 80vh;
}

.h100 {
  height: 100%;
}
.alignSelfCenter {
  align-self: center;
}
.textUnderLine {
  text-decoration: underline;
}
